In [37]:
import os
import sys
sys.path.insert(0, os.path.abspath(
    os.path.join(os.path.dirname('__file__'), '..')))

import pandas as pd
from src.location.location import Location, ETAB_NAMES
from src.features.hopital_features import HopitalFeatures
from pathlib import Path

In [38]:
start_date = "2023-01-01"
end_date = "2023-12-31"
DATA_DIR = Path('../data/features/')

etab = ETAB_NAMES[0][1]

date_range = pd.date_range(start=start_date, end=end_date, freq='D')

# loc = Location(etab)
# features = [HopitalFeatures(name='hopitalfeatures', include_hnfc_moving=False, include_nb_hospit=False)]
# df = features[0].fetch_data_function(location=loc, feature_dir=DATA_DIR / features[0].name, start_date=start_date, stop_date=end_date)

In [39]:


# Sample DataFrame with Date index and Visitors column

data = {
    'Date': date_range,
    'Total': [200, 210, 220, 230, 240] * int(len(date_range)/5)  # Example visitor counts
}
df = pd.DataFrame(data).set_index('Date')

# Extract month from the Date index
df['Month'] = df.index.month
df['Day_of_Week'] = df.index.weekday  # 0 = Monday, 6 = Sunday
df['Year'] = df.index.year
df['Day_of_Month'] = df.index.day
df['Quarter'] = df.index.quarter
df['Is_Weekend'] = df.index.weekday >= 5
df['Week_of_Year'] = df.index.isocalendar().week
df['Is_Month_Start'] = df.index.is_month_start
df['Is_Month_End'] = df.index.is_month_end
df['Day_of_Year'] = df.index.dayofyear
df['Is_Year_Start'] = df.index.is_year_start
df['Is_Year_End'] = df.index.is_year_end



# Calculate rolling mean over the last 31 days, excluding the current day
df['Rolling_31_day_mean'] = df['Total'].shift(1).rolling(window=31, min_periods=1).mean()
df['Rolling_7_day_mean'] = df['Total'].shift(1).rolling(window=7, min_periods=1).mean()
df['Rolling_365_day_mean'] = df['Total'].shift(1).rolling(window=365, min_periods=1).mean()

# print(df[['Total', 'Rolling_31_day_mean']])

In [40]:
df

,Total,Month,Day_of_Week,Year,Day_of_Month,Quarter,Is_Weekend,Week_of_Year,Is_Month_Start,Is_Month_End,Day_of_Year,Is_Year_Start,Is_Year_End,Rolling_31_day_mean,Rolling_7_day_mean,Rolling_365_day_mean
Date,,,,,,,,,,,,,,,,
2023-01-01,200,1,6,2023,1,1,True,52,True,False,1,True,False,NaN,NaN,NaN
2023-01-02,210,1,0,2023,2,1,False,1,False,False,2,False,False,200.000000,200.000000,200.000000
2023-01-03,220,1,1,2023,3,1,False,1,False,False,3,False,False,205.000000,205.000000,205.000000
2023-01-04,230,1,2,2023,4,1,False,1,False,False,4,False,False,210.000000,210.000000,210.000000
2023-01-05,240,1,3,2023,5,1,False,1,False,False,5,False,False,215.000000,215.000000,215.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-27,200,12,2,2023,27,4,False,52,False,False,361,False,False,220.645161,224.285714,220.000000
2023-12-28,210,12,3,2023,28,4,False,52,False,False,362,False,False,219.354839,220.000000,219.944598
2023-12-29,220,12,4,2023,29,4,False,52,False,False,363,False,False,219.677419,215.714286,219.917127
2023-12-30,230,12,5,2023,30,4,True,52,False,False,364,False,False,220.000000,218.571429,219.917355
2023-12-31,240,12,6,2023,31,4,True,52,False,True,365,False,True,220.322581,221.428571,219.945055